.form{
  display: inline-flex;
  margin: auto;
  width: 90%;
  height: 60%;
}

.second-column{
  display: inline-flex;
}

.create-box{
  margin-left: 45%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 50%;
  margin-top: 10%;
  border-style: solid;
  border-color: lightgrey;
  border-width: .5px;
  border-radius: 10px;
}
