/*https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css*/


.form{
  margin: auto;
  display: flex;
  width: 300px;
}

.login-button{

  margin-top: 20px;
  padding-top: 20px;
  width: 300px;
}
